# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Data files
*.csv
*.xlsx
*.json
*.db

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
